/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
 html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  /**
   * Remove the margin in all browsers.
   */
  body {
    margin: 0;

  }
  .card-body {
    margin-bottom: 0.7em;
    width: 400px;
  }
header {
  background-color:rgb(71, 71, 235) ;
}
  #search-form {
  
  }

#todaysForecast {

    border-style: solid;
    text-align: left;
    height: 300px;
    margin-left: 2px;
    margin-top: 2px;
  }

  #todaysForecast h2 {
    text-align: left;
  }

  #today-is {
    font-size: 20px;
    font-weight: bold;
  }
  
  #forecast {

  }

  #tempOutput{
    margin-top: 50px;
  }

  ul{
  font-size: 18px;
  font-weight: bold;
  } 

#userInput {
    height: 40px;
    width: 225px;
    background:white;
    font-weight: bold;
    border: none;
    text-align: left;
  }

  #searchBtn {
    height: 40px;
    width: 225px; 
    background:rgb(71, 71, 235);
    font-weight: bold;
    border: none;
    text-align: center;
  }

  #clearBtn {
    height: 40px;
    width: 225px; 
    background:rgb(71, 71, 235);
    font-weight: bold;
    border: none;
    text-align: center;
  }

  #searched-cityBtn {
    height: 40px;
    width: 225px;
    background:rgb(164, 164, 179);
    font-weight: bold;
    border: none;
    text-align: center;
    padding-top: 2%;  }


  /* p {
    text-align: center;
    font-weight: bold;
  }
 */

  
  /**
   * Render the `main` element consistently in IE.
   */
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  @media (min-width: 992px) {
  
  h3 {
    text-align: center;
  } 
  }
  #fiveDay {
  color: white;
  display: flex;
  background-color:white;
  align-content: center;
  justify-content: center;
  margin-left: 30%;
  margin-top: 2px;
}
 


#fiveDay div {
  background-color:rgb(34, 34, 87);
  align-items: center;
  margin-left: 2px;
  margin-top: 2px;
  margin: 10px;
  width: 100%;
  padding: 10px;
  float: right;
  /* text-align: left; */
}

